* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat Alternates', sans-serif;
}

html {
  height: 100vh;
}

header {
  height: 7vh;
  background-color: black;
  margin-bottom: 2vh;
}

.headerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/*clase exlusiva para el logo del header*/
.logo {
  width: 26%;
  background-size: cover;
  align-self: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headera {
  font-size: 40px;
  color: rgb(207, 201, 201);
}

body {
  background: url(../../img/HD-wallpaper-stars-black-blackandwhite-night-sky-star-white.jpg);
}

.imagenLogo {
  width: 90%;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(207, 201, 201);
}


.imagenRazaHeader,
.imagenClaseHeader {
  border-radius: 50%;
  width: 70%;
  border: 6px solid #D24E1D;
}

/*Diseño del menu desplegable de razas y clases 
{*/
.razas,
.clases {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 1s;
}

.raza,
.clase {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2vh;
  margin-left: 2%;
  margin-right: 2%;
  height: 160px;
  width: 160px;
  transition: width 1s;
}

.invisible {
  display: none !important;
  width: 160px !important;
  transition: all 1s;
  left: -3000px;

}

/*
}
*/

.ocultarRazas,
.ocultarClases {
  transform: rotateX(180deg);
}

.desktop {
  display: none;
}

.movil {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
  border: 5px solid white;
  height: 500px;
}

.movil a {
  width: 100%;
  text-align: center;
}

/*diseño del menu desplegable de version movil
{
*/
.icono_barras {
  display: block;
}

.icono_barras span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background: white;
  border-radius: 3px;
  transition: all 1s;
}

.icono_cruz span:nth-child(1) {
  transform: rotate(45deg) translateY(19px) translateX(6px);
  width: 30px;
}

.icono_cruz span:nth-child(2) {
  width: 0;

}

.icono_cruz span:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
  width: 30px;
}

.icono_cruz span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background: white;
  border-radius: 3px;
  transition: all 1s;
}

/*
}
*/
.desktop {
  display: none;
}

/*
diseño de la parte movil del menu
{
*/
.menu {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: url(../../img/HD-wallpaper-stars-black-blackandwhite-night-sky-star-white.jpg);
  position: fixed;
  right: 10px;
  top: 15px;
  z-index: 100;
}

.off {
  position: fixed;
  top: -550px;
  transition: all 1s;
}

.on {
  position: fixed;
  top: 0;
  transition: all 1s;
}

/*
}
*/


.main p {
  font-size: 20px;
}

/*media query para adaptar el texto, la imagen y cambiar entre el menu desplegable y el menu estatico*/
@media (min-width: 420px) {
  .desktop {
    display: initial;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(134, 130, 130);
  }

  .headera {
    font-size: 24px;
    color: rgb(207, 201, 201);
  }

  .movil {
    display: none;
  }

  .menu {
    display: none;
  }

  .logo {
    height: 100%;
  }

  .headera:nth-child(1) {
    text-decoration: underline;
  }

  .headera:nth-child(2) {
    text-decoration: underline;
  }
}

@media (min-width: 820px) {
  .headera {
    font-size: 40px;
  }
}