.articleForo {

    width: 100%;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1vw 5px 1vw 5px;

}

.tituloArticulo {
    display: flex;
    margin-bottom: 1vh;
}

.tituloArticulo h2 {
    margin-right: 10px;
}

.tituloArticulo h3 {
    color: rgb(167, 167, 167);
    align-self: flex-end;
    font-size: 16px;

}

.textoMensaje {
    width: 100%;
    margin-bottom: 1vh;

}

.botones {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;

}

.botones p {
    font-size: 16px;
    align-items: end;
    margin-right: 0.5vw;
}

.oculto {
    display: none;
}

.contestaciones {
    border-left: 1px solid whitesmoke;
    padding-left: 2vw;
}

.botones input {
    margin-right: 0.5vw;
    border-radius: 50px;
    background-color: rgb(94, 142, 248);
    border: none;
    width: 80px;
    height: 20px;
}

textarea {
    width: 50%;
}

.mainForo {
    width: 80%;
    margin: auto;
}

.nuevoMensaje {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contestacion {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

input[type="button"] {
    margin-left: 1vw;
    margin-right: 0.5vw;
    border-radius: 50px;
    background-color: rgb(94, 142, 248);
    border: none;
    width: 80px;
    height: 20px;
}