.sectionRegistro {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 5vh;

}

.sectionRegistro h1 {
    width: 100%;
    text-align: center;
}

.sectionRegistro p {
    color: rgb(206, 203, 203);
    font-size: 18px;

    margin-top: 2vh;
}

.sectionRegistro input {
    width: 45%;
    margin-top: 2vh;
    font-size: 20px;
}

.sectionInicioSesion {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 2vh;
}

.sectionInicioSesion h1 {
    width: 100%;
    text-align: center;
}

.sectionInicioSesion form {
    width: 100%;
}

.sectionInicioSesion input {
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2vh;
    font-size: 20px;
}

.pErrorInicio {
    color: rgb(206, 203, 203);
    font-size: 25px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2vh;
    width: 100%;
    text-align: center;
}

.sectionRegistro .submitRegistro,
.sectionInicioSesion .submitRegistro {
    width: 100%;
}

form {
    display: contents;
}

@media (min-width: 420px) {

    .sectionRegistro,
    .sectionInicioSesion {
        width: 90%;
    }
}

@media (min-width: 1000px) {

    .sectionRegistro,
    .sectionInicioSesion {
        width: 50%;
    }
}