footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: end;
}
.footerp{
    text-align: end;
    font-size: 36px;
    color: white;
    margin-right: 2vw;
}